.meal-reminder {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

.meal-reminder__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.meal-reminder__time {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-btn {
  border: 1px solid black;

  margin-left: 900px;
  border-radius: 2px;
  padding: 1px 40px;
}

.mat-radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.radio-group-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.mat-radio-button {
  margin-right: 16px;
}

.search-btn {
  border: 1px solid black;
  margin-left: 8px;
  border-radius: 2px;
  padding: 1px 40px;
}

.search-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-box:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 2px 4px rgba(63, 81, 181, 0.4);
}


.my-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="date"],
select {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-color: #fff;
}

.invalid-feedback {
  color: #dc3545;
  display: none;
  margin-top: 0.25rem;
  font-size: 80%;
}

input:invalid + .invalid-feedback,
select:invalid + .invalid-feedback {
  display: block;
}

button[type="submit"] {
  display: block;
  margin-top: 1rem;
}
